<!DOCTYPE html>
<html>
<head>
    <title>Connect4</title>
</head>
<body style="text-align:center; font-family:Arial;">

<h1>Connect4 - Projet IA</h1>

<form id="configForm">
    <select id="mode">
        <option value="2players">2 Joueurs</option>
        <option value="human_vs_ai">Humain vs IA</option>
        <option value="ai_vs_ai">IA vs IA</option>
    </select>

    <select id="ai_type">
        <option value="random">IA Random</option>
        <option value="minimax">IA Minimax</option>
    </select>

    <input type="number" id="depth" value="3" min="1" max="6">

    <button type="button" onclick="startGame()">Jouer</button>
</form>

<script>
function startGame() {

    fetch("/set_mode", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({
            mode:document.getElementById("mode").value,
            ai_type:document.getElementById("ai_type").value,
            depth:document.getElementById("depth").value
        })
    }).then(()=>{
        window.location="/play";
    });
}
</script>

</body>
</html>







